body{
font-family: 'Poppins', sans-serif;
background-color: rgb(1, 31, 48);
}



header {

text-align: center;
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),  url(../images/casa-mila.jpg);
background-size: cover;
background-position: center;
color:white;
padding: 200px 0;

}

header h1{

font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 1;
margin: 30px 0;
}

header h2 {

  font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 1;  
}

header h3 {

font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 1;
letter-spacing: 5px;

}

header a {

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.5;
letter-spacing: 3px;
text-transform: uppercase;
color: rgb(1, 31, 48); 
background-color: white;
padding: 15px 20px;
text-decoration: none;  
margin-top: 32px;
display: inline-block;
}

footer {
    color: white;

    background-image: linear-gradient(rgba(1, 31, 48, 0.9), rgba(1, 31, 48, 0.9)), url(../images/parc-guell.jpg) ;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

footer h3 {
 font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 1.5;
color: #FFFFFF; 

}

footer ul {
padding: 0;

}

footer li {
  list-style: none;
  margin:0;
}

footer p {
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 1.5;
color: #FFFFFF;
opacity: 0.6;
}

footer a {
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 1.5;
color: #FFFFFF;
opacity: 0.6;
}

main {
background-color: white;  
}

main h2 {
font-style: normal;  
font-weight: 700;
font-size: 40px;
line-height: 46px;
color: #272044; 
margin: 0;
}

main h3 {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: 5px;
color: #272044;
opacity: 0.3;
text-transform: uppercase;
margin: 0;
}

main h4 {
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.5;
color: #272044;
margin: 0;
 
}

main h5 {
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 1;
color: #272044;
margin: 0;

 
}



main p {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #272044;
opacity: 0.7;
text-align: justify;
}



section {
  max-width: 100%;
  margin: 0, auto;
  padding: 100px;
}

.btn {
display: block;
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 1px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
text-decoration: none;
color: white;
background-color:#462CB3;
padding: 20px;

}

.cards {
  background: white;
  margin:30px 0;
}

.card-header.grid {
  grid-gap:0px;
}

.card-body {
  padding: 30px;
}

.card-footer {
padding: 0 30px 30px;

}




.container {
    max-width: 1400px;
    margin: 0 auto;
}


.embed {
  width: 100%;
  display:block;
  aspect-ratio: 1 / 1;

}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns-1fr {
grid-template-columns: 1fr 1fr;  

}

.grid-3-columns-1fr-2fr-2fr {
  grid-template-columns: 1fr 2fr 2fr;  

}

.grid-3-colums-1fr {
 grid-template-columns: 1fr 1fr 1fr;  
}



.img-responsive {
width: 100%;
display: block;
  
}

.picture {
  margin: 30px 0;
}

.secondary {
  background-color: #F8F8F8;;
}

.text-center {
  text-align: center;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}





@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;;
  }

  section {
    padding: 30px;
  }
}
